.seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 51px;
    max-width: 1600px;
}



.titulo-1{
    font-size: 15px;
    border-bottom: solid 2px #E67E22  ;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.imgQuinesSomos{
    background-image: url("/palaatras.jpg");
    height: 590px;
    width: 510px;
    background-size: cover;
}

.container{
    padding-left: 60px;
    padding-bottom: 90px;
}

.container p{
    font-size: 20px;
    color: gray;
    padding-bottom: 90px;
    border-bottom: solid 2px #E67E22  ;
}

.container h3{
    font-size: 30px;
    font-weight: initial;
    padding-bottom: 40px;
}
